@import "tailwindcss";

@layer components {

  .icon__button {
    background-color: transparent;
    border: none;
    border-radius: 9999px;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
    pointer-events: initial;
    transition: transform 0.2s ease, background-color 0.2s ease;
  }

  .icon__button:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .shader__icon {
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-on-hover {
    opacity: 0;
    transition: opacity 0.25s ease-in;
    backdrop-filter: blur(20px);
    border-radius: 3px;
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
  }

  .repo__link {
    height: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }

  .menu__content,
  .history__content {
    display: none;
  }
  .menu--open .menu__content,
  .history--open .history__content {
    display: block;
  }
}

@layer utilities {
  body.ui-active .show-on-hover {
    opacity: 1;
    transition: opacity .25s ease-out;
  }
}