@import "tailwindcss";

@layer components {

  .icon-button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 9999px; /* Full rounded */
    pointer-events: initial;
  }

  .shader__icon {
    fill: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .show-on-hover {
    opacity: 0;
    transition: opacity 0.25s ease-in;
    backdrop-filter: blur(20px);
    border-radius: 3px;
    -webkit-backdrop-filter: blur(20px);
    overflow: hidden;
  }

  .repo__link {
    height: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
  }
}

@layer utilities {
  body.ui-active .show-on-hover {
    opacity: 1;
    transition: opacity .25s ease-out;
  }
}